In [1]:
import pandas as pd
weather_data = {
    'day':['1/1/2017','1/2/2017,','2/5/2017','1/4/2017','1/6/2017','1/7/2017'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,3,5],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df=pd.DataFrame(weather_data)
df

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1  1/2/2017,           35          7  Sunny
2   2/5/2017           28          2   Snow
3   1/4/2017           24          7   Snow
4   1/6/2017           32          3   Rain
5   1/7/2017           31          5  Sunny

In [2]:
df.head()

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1  1/2/2017,           35          7  Sunny
2   2/5/2017           28          2   Snow
3   1/4/2017           24          7   Snow
4   1/6/2017           32          3   Rain

In [3]:
df.tail(1)

        day  temperature  windspeed  event
5  1/7/2017           31          5  Sunny

In [4]:
df.columns()

TypeError: 'Index' object is not callable

In [5]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [6]:
df[1:3]

         day  temperature  windspeed  event
1  1/2/2017,           35          7  Sunny
2   2/5/2017           28          2   Snow

In [7]:
df['day']

0     1/1/2017
1    1/2/2017,
2     2/5/2017
3     1/4/2017
4     1/6/2017
5     1/7/2017
Name: day, dtype: object

In [8]:
df['temperature'].max()

35

In [11]:
df[df['temperature']==df['temperature'].max()]

         day  temperature  windspeed  event
1  1/2/2017,           35          7  Sunny

In [12]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   5.000000
std       3.829708   2.097618
min      24.000000   2.000000
25%      28.750000   3.500000
50%      31.500000   5.500000
75%      32.000000   6.750000
max      35.000000   7.000000

In [13]:
df

         day  temperature  windspeed  event
0   1/1/2017           32          6   Rain
1  1/2/2017,           35          7  Sunny
2   2/5/2017           28          2   Snow
3   1/4/2017           24          7   Snow
4   1/6/2017           32          3   Rain
5   1/7/2017           31          5  Sunny

In [27]:
df.set_index('day',inplace=True)

KeyError: 'day'

In [28]:
df

           temperature  windspeed  event
day
1/1/2017            32          6   Rain
1/2/2017,           35          7  Sunny
2/5/2017            28          2   Snow
1/4/2017            24          7   Snow
1/6/2017            32          3   Rain
1/7/2017            31          5  Sunny

In [29]:
df.index

Index(['1/1/2017', '1/2/2017,', '2/5/2017', '1/4/2017', '1/6/2017',
       '1/7/2017'],
      dtype='object', name='day')

In [31]:
df.loc['1/4/2017']

temperature      24
windspeed         7
event          Snow
Name: 1/4/2017, dtype: object

In [33]:
df.set_index('event',inplace=True)

In [34]:
df.loc['Snow']

       temperature  windspeed
event
Snow            28          2
Snow            24          7

In [35]:
import pandas as pd
import csv
df=pd.read_csv('C:/Users/Kumar/Desktop/Day3/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
17,18,5.1,3.5,1.4,0.3,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
19,20,5.1,3.8,1.5,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
21,22,5.1,3.7,1.5,0.4,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
24,25,4.8,3.4,1.9,0.2,Iris-setosa
25,26,5.0,3.0,1.6,0.2,Iris-setosa
26,27,5.0,3.4,1.6,0.4,Iris-setosa
27,28,5.2,3.5,1.5,0.2,Iris-setosa
28,29,5.2,3.4,1.4,0.2,Iris-setosa
29,30,4.7,3.2,1.6,0.2,Iris-setosa
...,...,...,...,...,...,...
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [37]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [39]:
df.set_index('Species',inplace=True)

In [40]:
df.index

Index(['Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa', 'Iris-setosa', 'Iris-setosa',
       'Iris-setosa', 'Iris-setosa',
       ...
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-virginica', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica'],
      dtype='object', name='Species', length=150)

In [43]:
df.loc['Iris-setosa'].count()

Id               50
SepalLengthCm    50
SepalWidthCm     50
PetalLengthCm    50
PetalWidthCm     50
dtype: int64

In [46]:
import pandas as pd
df = pd.read_csv('C:/Users/Kumar/Desktop/Day3/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
5,6,5.4,3.9,1.7,0.4,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
9,10,4.9,3.1,1.5,0.1,Iris-setosa
10,11,5.4,3.7,1.5,0.2,Iris-setosa
11,12,4.8,3.4,1.6,0.2,Iris-setosa
12,13,4.8,3.0,1.4,0.1,Iris-setosa
13,14,4.3,3.0,1.1,0.1,Iris-setosa
14,15,5.8,4.0,1.2,0.2,Iris-setosa
15,16,5.7,4.4,1.5,0.4,Iris-setosa
16,17,5.4,3.9,1.3,0.4,Iris-setosa
17,18,5.1,3.5,1.4,0.3,Iris-setosa
18,19,5.7,3.8,1.7,0.3,Iris-setosa
19,20,5.1,3.8,1.5,0.3,Iris-setosa
20,21,5.4,3.4,1.7,0.2,Iris-setosa
21,22,5.1,3.7,1.5,0.4,Iris-setosa
22,23,4.6,3.6,1.0,0.2,Iris-setosa
23,24,5.1,3.3,1.7,0.5,Iris-setosa
24,25,4.8,3.4,1.9,0.2,Iris-setosa
25,26,5.0,3.0,1.6,0.2,Iris-setosa
26,27,5.0,3.4,1.6,0.4,Iris-setosa
27,28,5.2,3.5,1.5,0.2,Iris-setosa
28,29,5.2,3.4,1.4,0.2,Iris-setosa
29,30,4.7,3.2,1.6,0.2,Iris-setosa
...,...,...,...,...,...,...
120,121,6.9,3.2,5.7,2.3,Iris-virginica
121,122,5.6,2.8,4.9,2.0,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
123,124,6.3,2.7,4.9,1.8,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
125,126,7.2,3.2,6.0,1.8,Iris-virginica
126,127,6.2,2.8,4.8,1.8,Iris-virginica
127,128,6.1,3.0,4.9,1.8,Iris-virginica
128,129,6.4,2.8,5.6,2.1,Iris-virginica
129,130,7.2,3.0,5.8,1.6,Iris-virginica
130,131,7.4,2.8,6.1,1.9,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica
132,133,6.4,2.8,5.6,2.2,Iris-virginica
133,134,6.3,2.8,5.1,1.5,Iris-virginica
134,135,6.1,2.6,5.6,1.4,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
136,137,6.3,3.4,5.6,2.4,Iris-virginica
137,138,6.4,3.1,5.5,1.8,Iris-virginica
138,139,6.0,3.0,4.8,1.8,Iris-virginica
139,140,6.9,3.1,5.4,2.1,Iris-virginica
140,141,6.7,3.1,5.6,2.4,Iris-virginica
141,142,6.9,3.1,5.1,2.3,Iris-virginica
142,143,5.8,2.7,5.1,1.9,Iris-virginica
143,144,6.8,3.2,5.9,2.3,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [47]:
df.set_index('Species',inplace=True)

In [48]:
df.loc['Iris-virginica']

                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-virginica  101            6.3           3.3            6.0           2.5
Iris-virginica  102            5.8           2.7            5.1           1.9
Iris-virginica  103            7.1           3.0            5.9           2.1
Iris-virginica  104            6.3           2.9            5.6           1.8
Iris-virginica  105            6.5           3.0            5.8           2.2
Iris-virginica  106            7.6           3.0            6.6           2.1
Iris-virginica  107            4.9           2.5            4.5           1.7
Iris-virginica  108            7.3           2.9            6.3           1.8
Iris-virginica  109            6.7           2.5            5.8           1.8
Iris-virginica  110            7.2           3.6            6.1           2.5
Iris-virginica  111            6.5           3.2            5.1           2.0
Iris-virginica  112            6.4           2.7            5.3           1.9
Iris-virginica  113            6.8           3.0            5.5           2.1
Iris-virginica  114            5.7           2.5            5.0           2.0
Iris-virginica  115            5.8           2.8            5.1           2.4
Iris-virginica  116            6.4           3.2            5.3           2.3
Iris-virginica  117            6.5           3.0            5.5           1.8
Iris-virginica  118            7.7           3.8            6.7           2.2
Iris-virginica  119            7.7           2.6            6.9           2.3
Iris-virginica  120            6.0           2.2            5.0           1.5
Iris-virginica  121            6.9           3.2            5.7           2.3
Iris-virginica  122            5.6           2.8            4.9           2.0
Iris-virginica  123            7.7           2.8            6.7           2.0
Iris-virginica  124            6.3           2.7            4.9           1.8
Iris-virginica  125            6.7           3.3            5.7           2.1
Iris-virginica  126            7.2           3.2            6.0           1.8
Iris-virginica  127            6.2           2.8            4.8           1.8
Iris-virginica  128            6.1           3.0            4.9           1.8
Iris-virginica  129            6.4           2.8            5.6           2.1
Iris-virginica  130            7.2           3.0            5.8           1.6
Iris-virginica  131            7.4           2.8            6.1           1.9
Iris-virginica  132            7.9           3.8            6.4           2.0
Iris-virginica  133            6.4           2.8            5.6           2.2
Iris-virginica  134            6.3           2.8            5.1           1.5
Iris-virginica  135            6.1           2.6            5.6           1.4
Iris-virginica  136            7.7           3.0            6.1           2.3
Iris-virginica  137            6.3           3.4            5.6           2.4
Iris-virginica  138            6.4           3.1            5.5           1.8
Iris-virginica  139            6.0           3.0            4.8           1.8
Iris-virginica  140            6.9           3.1            5.4           2.1
Iris-virginica  141            6.7           3.1            5.6           2.4
Iris-virginica  142            6.9           3.1            5.1           2.3
Iris-virginica  143            5.8           2.7            5.1           1.9
Iris-virginica  144            6.8           3.2            5.9           2.3
Iris-virginica  145            6.7           3.3            5.7           2.5
Iris-virginica  146            6.7           3.0            5.2           2.3
Iris-virginica  147            6.3           2.5            5.0           1.9
Iris-virginica  148            6.5           3.0            5.2           2.0
Iris-virginica  149            6.2           3.4            5.4           2.3
Iris-virginica  150            5.9           3.0            5.1           1.8

In [49]:
df.loc['Iris-virginica'].count()

Id               50
SepalLengthCm    50
SepalWidthCm     50
PetalLengthCm    50
PetalWidthCm     50
dtype: int64

In [50]:
df.loc['Iris-virginica'].shape

(50, 5)

In [51]:
l=df[1:3]
l

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa   2            4.9           3.0            1.4           0.2
Iris-setosa   3            4.7           3.2            1.3           0.2

In [52]:
import pandas as pd
import csv
df = pd.read_csv('C:/Users/Kumar/Desktop/Day3/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [55]:
df.set_index(['Country','Age','Salary]',inplace=True)

SyntaxError: invalid syntax (<ipython-input-55-64a5417e54fb>, line 1)

In [91]:
x=df.iloc[:,:-2].values

In [92]:
x

array([['France', 44.0],
       ['Spain', 27.0],
       ['Germany', 30.0],
       ['Spain', 38.0],
       ['Germany', 40.0],
       ['France', 35.0],
       ['Spain', nan],
       ['France', 48.0],
       ['Germany', 50.0],
       ['France', 37.0]], dtype=object)

In [90]:
x

array([], shape=(10, 0), dtype=float64)

In [66]:
y=df.iloc[:,1:].values
y

array([[44.0, 72000.0, 'No'],
       [27.0, 48000.0, 'Yes'],
       [30.0, 54000.0, 'No'],
       [38.0, 61000.0, 'No'],
       [40.0, nan, 'Yes'],
       [35.0, 58000.0, 'Yes'],
       [nan, 52000.0, 'No'],
       [48.0, 79000.0, 'Yes'],
       [50.0, 83000.0, 'No'],
       [37.0, 67000.0, 'Yes']], dtype=object)

In [72]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', stratergy= 'mean',axis=0)
imputer = imputer.fit(x[:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])

TypeError: __init__() got an unexpected keyword argument 'stratergy'

In [73]:
x=df.iloc[:,:-1].values

In [74]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [79]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy= 'mean',axis=0)
imputer = imputer.fit(x[:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])

In [80]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [87]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 1/3, random_state = 0)
X_train,X_test,y_train,y_test

(array([['Spain', 27.0, 48000.0],
        ['Spain', 38.77777777777778, 52000.0],
        ['France', 48.0, 79000.0],
        ['Spain', 38.0, 61000.0],
        ['France', 44.0, 72000.0],
        ['France', 35.0, 58000.0]], dtype=object),
 array([['Germany', 30.0, 54000.0],
        ['Germany', 50.0, 83000.0],
        ['Germany', 40.0, 63777.77777777778],
        ['France', 37.0, 67000.0]], dtype=object),
 array([[27.0, 48000.0, 'Yes'],
        [nan, 52000.0, 'No'],
        [48.0, 79000.0, 'Yes'],
        [38.0, 61000.0, 'No'],
        [44.0, 72000.0, 'No'],
        [35.0, 58000.0, 'Yes']], dtype=object),
 array([[30.0, 54000.0, 'No'],
        [50.0, 83000.0, 'No'],
        [40.0, nan, 'Yes'],
        [37.0, 67000.0, 'Yes']], dtype=object))

In [ ]:
from sklearn.linear_model import LinearRegression #X_train,X_test,y_train,y_test
regressor = LinearRegression()
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)
plt.scatter(X_train,y_train,color= 'red')