In [2]:
import pandas as pd
import csv
df = pd.read_csv('C:/Users/Kumar/Desktop/Day3/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [6]:
x=df.iloc[:,:-1].values
y=df.iloc[:,1:].values

In [7]:
x

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [8]:
y

array([[44.0, 72000.0, 'No'],
       [27.0, 48000.0, 'Yes'],
       [30.0, 54000.0, 'No'],
       [38.0, 61000.0, 'No'],
       [40.0, nan, 'Yes'],
       [35.0, 58000.0, 'Yes'],
       [nan, 52000.0, 'No'],
       [48.0, 79000.0, 'Yes'],
       [50.0, 83000.0, 'No'],
       [37.0, 67000.0, 'Yes']], dtype=object)

In [9]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy= 'mean',axis=0)
imputer = imputer.fit(x[:,1:3])
x[:,1:3] = imputer.transform(x[:,1:3])

In [11]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 1/3, random_state = 0)

In [14]:
from sklearn.linear_model import LinearRegression #X_train,X_test,y_train,y_test
import matplotlib.pyplot as plt
regressor = LinearRegression()
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)
plt.scatter(X_train,y_train,color= 'red')
plt.plot(X_train,regressor.predict(X_train),color='blue')
plt.title('Salary vs Experience(Training Set)')
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.show()

plt.scatter(X_test,y_test,color='red')
plt.plot(X_train,regressor.predict(X_train),color = 'blue')
plt.title('Salary vs Experience (Test Set)')
plt.xlabel('Years of the experience')
plt.ylabel('Salary')
plt.show()

ValueError: could not convert string to float: 'France'